# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Development files
#
/index.html
/favicon.svg

# Generated & compiled files
#
/*.tgz

# Files with sensitive data
#
/.github/

# Config files
#
/.editorconfig
/.eslintrc.js

/tsconfig.json
/vite.config.js
